streamlit
python-dotenv
langchain==0.2.2
langchain-core==0.2.4
langchain-openai==0.1.12
langchain-anthropic==0.1.4
langchain-mistralai==0.1.4
langchain-deepseek==0.0.3
faiss-cpu
sentence-transformers
tqdm

